<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyProfile</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyProfile.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand text-white" href="#home">Megha - Full Stack Developer</a>

            <div>
                <a href="#about">About</a>
                <a href="#projects">Projects</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
    </nav>
    <main class="container">
		@RenderBody()
    </main>
    <nav class="navbar navbar-expand-lg"> <!-- later fixed with -->
        <footer class="footer">
            <div class="container footer-content">
                <!-- LEFT SIDE -->
                <div class="footer-left">
                    <p>© 2026 My Portfolio | Full Stack .NET Developer</p>
                </div>

                <!-- RIGHT SIDE -->
                <div class="footer-right social-icons">
                    <a href="https://github.com/maggyR?tab=repositories" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>

                    <a href="https://www.linkedin.com/in/megha-patel-a3ba27a4/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>

            </div>
        </footer>
        </nav>
    <!-- Smooth Scroll -->
    <script>
        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                document.querySelector(this.getAttribute('href'))
                    .scrollIntoView({ behavior: 'smooth' });
            });
        });
    </script>
   
    </body>
</html>
